h1 {
    margin-top: 30px;
}

.content {
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    padding: 20px;
}

#stat {
    margin: 5px 0;
    font-weight: bold;
}

#loading-message {
    opacity: 1;
    height: 100px;
    &.hidden {
        transition: opacity 0.5s, height 0.3s ease-in-out 0.2s;
        opacity: 0;
        height: 0;
    }
}

#list {
    list-style: none;
    padding: 0;

    li {
        padding: 10px;

        &.serenity {
            background-color: rgba(lime, 0.7);

            &:hover {
                background-color: rgba(lime, 1);
            }
        }

        &:not(.serenity) {
            background-color: rgba(red, 0.7);

            &:hover {
                background-color: rgba(red, 1);
            }
        }

        span.property {
            display: inline-block;
            width: 25%;
        }

        span.percent_value {
            display: inline-block;
            margin-left: 20px;
        }
        progress {
            appearance: none;

            width: 250px;
            height: 20px;
        }
    }
}
